@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url("https://phone.firertc.com/auth/sign_in") {
/** Color Pallette **/
/* 
Background Grey: #333;
Surrounding Black: #222;
Text Boxes: #222;
Text Color: #e6e6e6;
Button Color: #777;
*/

/* Jumbotron -or- Main */
body .container .inner-container .jumbotron {
  background-color: #333;
  }
  
/* Surrounding Background Color */
body {
  background-color: #222;
  color: #e6e6e6;
  }
